*{
  margin: 0;
  padding: 0;
}
.container-post{
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  width: 30% ;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 10px;
  box-shadow: 5px 5px 15px black;
  background-color: rgb(255, 255, 255);

}
h1{
  margin-left: 50%;
}
.containerimg{
  width: 10%;
}
.containerimg img{
  width: 100%;
  border-radius: 19px;
}
.containerimg2{
  width: 100%;
}
.containerimg2 img{
  width: 100%;
}
.post-header{
  display: flex;
}
button{
  width: 50%;
  border: 1px solid ;
  border-radius: 10px;
}
.post-header h2{
  margin-left: 2%;
  border: 5px 5px 15px aqua;
  border-radius: 10px;
}
.comentario{
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 1%;
}
.final-coment{
  display: flex;
}
.final-coment h6{
  margin-left: 5%;
}
.likes{
  width: 10%;
  margin-bottom: -2%;
}
.perfil{
  background-color: rgb(212, 212, 212);
}
.input-coment{
  display: flex;
}
.input-coment button{
  width: 15%;
  height: 20px;
}
.form-comentario{
  width: 100%;
  border-radius: 6px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}